<!DOCTYPE html>
  <html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>postgreSQLテスト</title>
  </head>
  <body>
    
    <!-- <ul>
      <li><%= "card_id :" + card_id %></li>
      <li><%= "user_id :" + user_id %></li>
      <li><%= "card_number :" + card_number %></li>
      <li><%= "expiration_date :" + expiration_date %></li>
      <li><%= "update_date :" + update_date %></li>
    </ul> -->
    <p id="idm" style="display: none;"><%= card_number %></p>
    
    <script type="text/javascript">
      let idmStr = document.getElementById('idm');
      // post送信
      var form = document.createElement('form');
      var request = document.createElement('input');

      form.method = 'POST';
      form.action = 'https://kirumo.onrender.com/list';

      request.type = 'hidden';
      request.name = 'idmStr';
      request.value = idmStr;

      form.appendChild(request);
      document.body.appendChild(form);

      form.submit();
    </script>
  </body>
  </html>